.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.primery-text {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}

.submit-button {
  margin-top: 30px;
}

.filter-button {
  min-width: 20px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  background-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.39;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.filter-button:hover, .filter-button:focus {
  color: #ffffff;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
}

.subscription-button {
  display: flex;
  align-items: center;
}
.subscription-button__icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.li-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .li-title {
    text-align: center;
  }
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  /* margin-bottom: 20px; */
  display: inline-block;
}
.logo--acent {
  color: #2196F3;
}
.logo--main {
  color: #000;
}
.logo--secondary {
  color: #ffffff;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2F303A;
  padding: 118px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background-image: url(../images/squoosh/hero-img.jpg);
    height: 600px;
  }
}

.hero__title {
  width: 695px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage__ul {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
}

.advantage__list-item {
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .advantage__list-item {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list-item {
    width: calc((100% - 120px) / 4);
  }
}

.advantage__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background: #F5F4FA;
}

.advantage__icon {
  width: 70px;
  height: 70px;
}

.advantage__text {
  margin-top: 0;
  margin-bottom: 0;
}

.capabilities {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .capabilities {
    display: none;
  }
}

.capabilities__ul {
  display: flex;
  flex-wrap: wrap;
}

.capabilities__li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}
.capabilities__li:nth-child(3n) {
  margin-right: 0;
}

.capabilities__box {
  position: relative;
}

.capabilities__box-title {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.capabilities__title {
  color: #ffffff;
  margin-bottom: 0;
  align-self: center;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__ul {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team__li {
  margin: 15px;
  display: block;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__li {
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__li {
    width: calc((100% - 120px) / 4);
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}

.team__our-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__prof {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.social {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.social__li + .social__li {
  margin-left: 10px;
}

.social__links {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__links:hover, .social__links:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__ul {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__li {
  margin: 15px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__li {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__li {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  color: #2196F3;
  border-color: #2196F3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1999px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-self: flex-start;
    text-align: start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__pos {
    width: calc((100% - 240px) / 2);
    margin: 0 60px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__li {
  margin-top: 0;
  margin-bottom: 9px;
}
.footer__li:last-child {
  margin-bottom: 0;
}

.footer__address {
  color: #ffffff;
  text-decoration: none;
}

.footer__nav {
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav:hover, .footer__nav:focus {
  color: #2196F3;
}

.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__title {
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer-social {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social {
    padding-top: 12px;
    margin-left: 70px;
  }
}

.footer-social__ul {
  display: flex;
  justify-content: center;
}

.footer-social__li {
  margin-bottom: 0;
}
.footer-social__li + .footer-social__li {
  margin-left: 10px;
}

.footer-social__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: #2196F3;
}

.footer-social__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    min-width: 450px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    padding-top: 12px;
    margin-left: auto;
  }
}

.subscription__box {
  display: block;
}
@media screen and (min-width: 1200px) {
  .subscription__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0);
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 360px;
    margin-right: 12px;
    padding-left: 15px;
  }
}

.subscription__button {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .subscription__button {
    margin: 20px auto 0;
  }
}

.subscription__icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.modal-close__icon {
  width: 30px;
  height: 30px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close__icon:hover, .modal-close__icon:focus {
  fill: #2196F3;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 12px;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.textarea {
  margin-bottom: 20px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__input {
  display: block;
  height: 40px;
  padding: 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus, .form__input:not(:placeholder-shown) {
  border-color: #2196F3;
}

.form__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  height: 18px;
  width: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus + .form__icon, .form__input:not(:placeholder-shown) + .form__icon {
  fill: #2196F3;
}

.textarea {
  margin-bottom: 20px;
}

.textarea__field {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea__field::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.slave-box {
  text-align: center;
}

.slave-box__label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 7px;
}
.checkbox:checked + .checkbox__icon {
  background-image: url(../images/svg/check.svg);
  background-size: contain;
  background-origin: border-box;
  background-color: #2196F3;
  border-color: #2196F3;
  border-radius: 2px;
}

.checkbox__link {
  margin-left: 3px;
  color: #2196F3;
}/*# sourceMappingURL=main.css.map */