.logo{

   text-decoration: none;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   /* margin-bottom: 20px; */
   display: inline-block;
   &--acent{
      color: $acent;
   }
   &--main{
      color: $black;
      margin-left: -4px;
   }
   &--secondary{
      color: $primery-bg-color;
   }

      @media screen and(max-width:767px) {
         padding: 16px 0;
      }

   @media screen and(max-width:1199px){
      font-size: 24px;  
      line-height: 1.17;    
   }
}
