.team{
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: $section-bg-color;
   
   @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
   }

}

.team__ul{
   display: flex;
   flex-wrap: wrap;
   margin: -15px;
}

.team__li{
   margin: 15px;
   

   display: block;
   width: 100%;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   @media screen and (min-width: 768px) {
      width: calc((100% - 2*30px) / 2);
   }
   @media screen and (min-width: 1200px) {
      width: calc((100% - 4*30px) / 4);
   }

}

.team__description{
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: $primery-bg-color;

}

.team__our-team{
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
}

.team__prof{
   color: $primery-text-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

.social{
   display: flex;
   justify-content: center;
   padding-top: 16px;

   &__li +&__li{
      margin-left: 10px;
   }
}


.social__links{
   display: block;
   width: 44px;
   height: 44px;
   padding: 12px;
   border-radius: 50%;

   color: $primery-icon-color;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover, &:focus{
      color: $primery-bg-color;
      background-color: $acent;
   }

}
.social__icon{
   width: 20px;
   height: 20px;
   fill: currentColor;
}