$primery-text-color: #757575;
$title-text-color: #212121;
$acent: #2196F3;
$primery-bg-color: #ffffff;
$primery-button-color: #F5F4FA;
$footer-bg-color: #2F303A;
$section-bg-color: #F5F4FA;
$primery-icon-color:#AFB1B8;
$black: #000;